# {{ ansible_managed }}

[Unit]
Description="Update restic timer"

[Timer]
Unit=restic-update.service
OnCalendar={{ resticprofile_restic_update_time }}
{% if resticprofile_restic_update_randomized_delay != "" %}
RandomizedDelaySec={{ resticprofile_restic_update_randomized_delay }}
{% endif %}
Persistent=true

[Install]
WantedBy=timers.target
